In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [3]:
retail = pd.read_csv('Retail.csv',header=1)
retail.head()

,Transactions from the Database,Unnamed: 1,Unnamed: 2,#Transactions in which\n the item is bought,Support,Unnamed: 5
0,"1 : { Pencils, Markers, Highlighters, Papers}",NaN,Pencils,2,0.2,NaN
1,"2 : {Markers, Erasers}",NaN,Markers,6,0.6,NaN
2,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",NaN,Highlighters,3,0.3,NaN
3,"4 : {Papers, Erasers, Cad Holders}",NaN,Papers,4,0.4,NaN
4,"5 : {Markers, Post-it, Erasers}",NaN,Erasers,7,0.7,NaN

In [4]:
retail = retail.drop(['Unnamed: 1','Unnamed: 5'], axis=1)

In [5]:
retail.head()

,Transactions from the Database,Unnamed: 2,#Transactions in which\n the item is bought,Support
0,"1 : { Pencils, Markers, Highlighters, Papers}",Pencils,2,0.2
1,"2 : {Markers, Erasers}",Markers,6,0.6
2,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",Highlighters,3,0.3
3,"4 : {Papers, Erasers, Cad Holders}",Papers,4,0.4
4,"5 : {Markers, Post-it, Erasers}",Erasers,7,0.7

In [6]:
retail.shape

(17, 4)

In [8]:
records = []
for i in range(0,17):
    records.append([str(retail.values[i,j]) for j in range(0,4)])

In [9]:
records[0]

['1 : { Pencils, Markers, Highlighters, Papers}', 'Pencils', '2', '0.2']

In [10]:
association_rules = apriori(records,min_support=0.0055 , min_confidence = 0.2 ,min_lift = 3,min_length = 2)
association_results = list(association_rules)

In [11]:
print(len(association_results))

113

In [12]:
print(association_results[0])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Construct item-sets with items that satisfy minimum support'}), support=0.058823529411764705, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Construct item-sets with items that satisfy minimum support'}), confidence=1.0, lift=17.0), OrderedStatistic(items_base=frozenset({'Construct item-sets with items that satisfy minimum support'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=17.0)])

In [13]:
print(association_results[1])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Support\nP(Markers�Erasers)'}), support=0.058823529411764705, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Support\nP(Markers�Erasers)'}), confidence=1.0, lift=17.0), OrderedStatistic(items_base=frozenset({'Support\nP(Markers�Erasers)'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=17.0)])