# Tuples

In [18]:
t1 = (10,20,30) #creating tuple
t2 = (40,50,60)

In [19]:
t_combine = t1+t2 #combining tuples
t_combine = t_combine*3 #repeating tuples 3 times
print(t_combine) #printing final tuple

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [20]:
t_combine[2] #accessing 3rd element in tuple

30

In [21]:
t_combine[:3] #accessing first 3 elements in tuple

(10, 20, 30)

In [22]:
t_combine[-3:] #accessing last 3 elements in tuple

(40, 50, 60)

# Lists

In [23]:
my_list = [(1,2,3),('a','b','c'),(True,False)] #creating lists with tuples

In [24]:
my_list.append((1,'a',True)) #appending new tuple to list
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [25]:
my_list.append(['sparta',123]) #appending new list to tuple
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

# Dictionary

In [27]:
fruit = {"Fruit":("Apple","Banana","Mango","Guava"),"Cost":(85,54,120,70)} #creating dictionary
print(fruit)

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

In [38]:
print(fruit.keys()) #extracting keys from the dictionary

dict_keys(['Fruit', 'Cost'])

In [39]:
print(fruit.values()) #extracting values of the keys from dictionary

dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

# Sets

In [40]:
my_set = {1,1,"a","a",True,True} #creating set
print(my_set)

{1, 'a'}