In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [8]:
X = data[['YearsExperience']]
Y = data['Salary']

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,Y, train_size=0.66, random_state=10)

In [11]:
linearmodel = LinearRegression()

In [12]:
linearmodel.fit(Xtrain, ytrain)

LinearRegression()

In [13]:
ypredict = linearmodel.predict(Xtest)
ypredict

array([ 89726.78280284,  55518.74216272,  52668.07210937,  39364.94519377,
        44116.06194934,  92577.45285618,  64070.75232275, 116333.03663405,
        63120.52897163,  37464.49849154,  82124.99599392])

In [14]:
ytest

20     91738.0
7      54445.0
5      56642.0
2      37731.0
3      43525.0
21     98273.0
13     57081.0
27    112635.0
12     56957.0
1      46205.0
19     93940.0
Name: Salary, dtype: float64

In [25]:
linearmodel.score(Xtest,ytest)

0.9442441071942692

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [21]:
mean_absolute_error(ytest,ypredict)

4762.387725490323

In [22]:
mean_squared_error(ytest,ypredict)

33905481.478631586

In [23]:
np.sqrt(mean_absolute_error(ytest,ypredict))

69.01005524914702

In [19]:
r2_score(ytest, ypredict)

0.9442441071942692